@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

.find {
    width: 390px;
    height: 240px;
}

.find_h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    line-height: 100%;
}

.easily {
    color: #1572D3;
}

.p1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

}

.nav li,
.signin {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;

}

.how_it_work>p, .popular_rental_detals>p{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
}

.section2_h1>h1, .section3_h1>h1{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 44px;
}
.rating{
font-family: "Poppins", Helvetica;
font-weight: 600;
font-style: Medium;
font-size: 12px;

line-height: 17px;
letter-spacing: 0%;

}
.reviews{
font-family: "Poppins", Helvetica;
font-weight: 400;
font-style: normal;
font-size: 12px;

line-height: 17px;
letter-spacing: 0%;

}
